.page {
  display: grid;
  justify-content: center;
  padding-block: 100px;
  font-family: var(--primary-font-family), Arial, sans-serif;
  background-image: 
    var(--gradient,
    repeating-linear-gradient(to right, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
    repeating-linear-gradient(#d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
    linear-gradient(#e7e7e7 .01%, #1a1a1a));
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--primary-font-weight, 400);
}

.content {
  background-color: var(--primary-color, #fff);
  inline-size: var(--content-inline-size, clamp(23.438rem, 16.2859rem + 30.5157vw, 43.75rem));
}

.header  {
  margin-block-end: 100px;
  border: var(--border, 2px solid var(--accent-color, #000));
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) clamp(0.875rem, -1.4687rem + 9.9996vw, 7.531rem);
  font-family: var(--accent-font-family), Arial, sans-serif;
  text-transform: uppercase;
}

.header__headline {
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__text {
  padding-inline: calc(7.593999999999999rem - clamp(3.438rem, 3.1852rem + 1.0787vw, 4.156rem));
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  display: grid;
}

.card {
  display: grid;
  margin-block-end: 50px;
  border: var(--border, 2px solid var(--accent-color, #000));
  font-size: 18px;
}

.card__headline {
  padding: var(--card-headline-padding);
  font-size: inherit;
  line-height: 21.78px;
  font-variation-settings: 'wght' var(--card-headline-font-weight, 700);
}

.card__image-block {
  position: relative;
  display: flex;
  border-block: var(--border, 2px solid var(--accent-color, #000));
  aspect-ratio: 1 / 1;
}

.image {
  object-fit: cover;
  inline-size: 100%;
  max-inline-size: 100%;
  max-block-size: 100%;
}

.filter-hue-rotate-saturate {
  filter: hue-rotate(-74deg) saturate(5.5);
}

.filter-invert {
  filter: invert(1);
}

.filter-brightness {
  filter: brightness(1.4);
}

.filter-contrast-saturate {
  filter: contrast(5.5) saturate(13);
}

.filter-grayscale {
  filter: grayscale(1);
}

.filter-hue-rotate-brightness-saturate {
  filter: hue-rotate(39deg) brightness(0.75) saturate(7.5);
}

.filter-brightness-saturate-hue-rotate-contrast {
  filter: brightness(2) saturate(9.5) hue-rotate(28deg) contrast(1.5);
}

.filter-brightness-contrast-sepia {
  filter: brightness(70%) contrast(99%) sepia(1);
}

.image-tag {
  position: absolute;
  top: var(--image-tag-top);
  right: var(--image-tag-right);
  font-family: var(--accent-font-family), Arial, sans-serif;
  font-size: 14px;
  text-shadow: -1px 0 var(--primary-color, #fff), 0 1px var(--primary-color, #fff), 1px 0 var(--primary-color, #fff), 0 -1px var(--primary-color, #fff);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--primary-color, #fff)) or (-webkit-text-stroke: 1px var(--primary-color, #fff))) {
  .image-tag {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--primary-color, #fff);
    text-stroke: 1px var(--primary-color, #fff);
  }
} 

.card__text-block {
  display: grid;
  row-gap: 27px;
  padding-inline: var(--card-padding, 25px);
  padding-block: var(--card-padding, 25px);
}

.card__button-block {
  display: flex;
  justify-self: end;
  gap: 9px;
  padding-inline-end: var(--card-padding, 25px);
  padding-block-end: var(--card-padding, 25px);
}

.card__icon-button {
  border: none;
  padding: 0;
  background-color: var(--primary-color, #fff);
  display: flex;
  align-items: center;
}

.card__icon-button:focus {
  outline: none;
}

.like-icon:hover {
  cursor: pointer;
}

.basic-button {
  position: relative;
  border: var(--border, 2px solid var(--accent-color, #000));
  background-color: var(--primary-color, #fff);
}

.basic-button:focus {
  outline: none;
}

.basic-button:focus-visible {
  outline: none;
}

.basic-button:hover {
  cursor: pointer;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--primary-color, #fff);
  font-family: var(--accent-font-family), Arial, sans-serif;
  font-size: 14px;
  line-height: 12.6px;
  mix-blend-mode: difference;
}

.card__like-button {
  display: flex;
  justify-content: center;
  padding-inline: 35px;
  padding-block: 10.5px;
  max-inline-size: 130px;
  scale: 1 1.08;
  translate: 0 -0.5px;
}

.save-button {
  display: flex;
  justify-self: center;
  gap: 8px;
  padding: 15px 20px;
}

.save-button .button__text {
  align-self: center;
}

.save-button .floppy-icon {
  z-index: 1;
  stroke: var(--primary-color, #fff);
  inline-size: var(--floppy-icon-save-button-size);
  mix-blend-mode: difference;
}

.dialog {
  grid-template-columns: var(--dialog-grid-template-columns);
  align-items: center;
  row-gap: 27px;
  column-gap: 20px;
  padding-inline: var(--dialog-padding-inline);
  padding-block: 30px;
}

.dialog[open] {
  display: grid;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__text {
  font-family: var(--accent-font-family), Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog__button {
  grid-column: 1/3;
  padding-inline: var(--dialog-button-padding-inline);
  padding-block: 7.5px;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
    align-items: center;
  }

  .dialog .floppy-icon {
    inline-size: 40px;
  }
}

@media (width < 375px) {
  .header {
    display: grid;
  }
  
  .header__headline,
  .header__text {
    scale: 0.9 1;
    translate: -25px;
  }
}